.header {

}
.logo {
    margin-left: 9vw;
    h1 {
        font-family: 'fabfeltscriptbold';
        font-size: 5vw;
        margin-bottom: 0;
        line-height: 1;
    }

    h3 {
        margin-top: 0;
        font-size: 2vw;
        font-weight: 200;
    }
}
