.header {

}
.logo {

    h1 {
        font-family: 'fabfeltscriptbold';
        margin-left: 9vw;
        font-size: 5vw;
        //background: $base;
        //width: 42vw;
        //padding-left: 2.2vw;
        //border-radius: 4vw;
    }
}
