.main {
  margin: 60px 0;
  section {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  table {
    display: flex;
    align-content: center;
    justify-content: center;

    h1 {
      font-size: 2.3vw;
    }

    &.nominees {

      h1 {
        text-align: center;
      }

      th:first-of-type {
        h1 {
          text-align: left;
          position: absolute;
          bottom: 0;
        }
      }

      th,
      td {
        margin: 1vw;
        position: relative;
      }
    }

    &:not(.nominees) {
      margin-bottom: 2vw;

      tr {
        background-color: $base;
        position: relative;

        img {
          width: 2vw;
          margin-left: 4vw;
        }

        &:nth-of-type(even) {
          background-color: $lighten
        }
      }

      th,
      td {
        padding: 1vw 0;
      }

      th {
        padding-left: 1vw;
      }

      td {
        position: relative;
        padding-left: 7vw;

        &.citation {
          position: relative;
          width: 2vw;
          padding: 0;
          a {
            font-family: 'fabfeltscriptbold';
            font-size: 1.5vw;
            text-decoration: none;
            width: 2vw;
            height: 2vw;
            line-height: 2vw;
            color: #fff;
            background-color: $base;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            right: -4vw;
            text-align: center;

            &.two {
              right: -6.3vw;
            }

            span {
              font-family: 'fabfeltscriptbold';
              color: $base-blue;
              font-size: 1.2vw;
              position: absolute;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
              top: -1.7vw;
              opacity: 0;
              -webkit-transition: opacity .25s;
              -moz-transition: opacity .25s;
              -ms-transition: opacity .25s;
              -o-transition: opacity .25s;
              transition: opacity .25s;
            }

            &:hover {
              span {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    img {
      width: 100%;
    }


    tr {
      font-size: 1.2vw;
      th {
        width: 20vw;
        text-align: left;
        line-height: 1;
        text-transform: uppercase;
      }

      td {
        width: 20vw;
        line-height: 1;
        padding-left: 5vw;
      }
    }
  }

  a.lightbox {
    margin-left: 9vw;
    font-size: 1vw;
    color: $base-blue;

    &:hover {
      color: $base-red;
    }
  }

  #lightbox {
    p {
      display: none;
    }
  }

  .fb_iframe_widget {
    display: block;
    width: 75vw;
    margin: 60px auto;
  }

  .fb-comments {
    iframe {
      width: 75vw !important;
    }
  }
}


.floating{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: .5s;
  -webkit-animation-duration: .5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(15%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
