* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: $lighten;
  border: 15px solid #fff;
}
body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: $base-blue;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
}

@font-face {
  font-family: 'fabfeltscriptbold';
  src: url('../fonts/fabfeltscript-bold.eot');
  src: url('../fonts/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fabfeltscript-bold.woff2') format('woff2'),
  url('../fonts/fabfeltscript-bold.woff') format('woff'),
  url('../fonts/fabfeltscript-bold.ttf') format('truetype'),
  url('../fonts/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
  font-weight: normal;
  font-style: normal;

}
